---
// 静态图片
import { Image } from "astro:assets";
// 基础 样式
import "../styles/Footer.less";
---

<footer class="vh-footer">
	<main>
		<p>
			<a href="https://astro.build/" target="_blank" rel="noopener noreferrer"><Image width="1" height="1" alt="Astro" src="/assets/images/footer/astro.svg" /></a><a href="https://github.com/uxiaohan/vhAstro-Theme" target="_blank" rel="noopener noreferrer"><Image width="1" height="1" alt="vhAstro-Theme" src="/assets/images/footer/theme.svg" /></a><a href="/sitemap-index.xml" target="_blank"><Image width="1" height="1" alt="sitemap" src="/assets/images/footer/sitemap.svg" /></a><a href="/rss.xml" target="_blank"><Image width="1" height="1" alt="rss" src="/assets/images/footer/rss.svg" /></a></p>
		<p>
			<a target="_blank" href="http://beian.miit.gov.cn">
				<img src="https://cdn.shimail.cn/img/icpbeian.jpg" alt="ICP备案">
				豫ICP备2024058435号-3
			</a><span>&</span>
			<a target="_blank" href="https://beian.mps.gov.cn/#/query/webSearch?code=41022302001112">
				<img src="https://cdn.shimail.cn/img/gonganbeian.png" alt="公安备案">
				豫公网安备41022302001112号
			</a>
		</p>
	</main>
</footer>
